@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Convergence');
@import url('https://fonts.googleapis.com/css?family=Alegreya:500i');


body {
	padding: 0 20px;
	/* overflow: hidden; */
	position: relative;
}


/* override bootstrap gutter */
.no-gutters {
	margin-right: 0;
	margin-left: 0;
}

.no-gutters > .col, 
.no-gutters > [class*="col-"] {
	padding-right: 0;
	padding-left: 0;
}


/* main styles */

.nav-menu {
	height: 100vh;
	width: calc(100% - 40px);
	margin: 0 auto;
	position: absolute;
	 background-color: #ecf3f3; 
	left: 20px;
	top: -100vh;
	opacity: 0;
	z-index: 10;
}

.nav-wrap {
	margin-top: 11.3131vh;
	position: relative;
	/* top: 11.3131vh; */
	/* background-color: #f37061; */
	height: 88.6869vh;
	width: 100%;
}

.nav-row {
	
	height: 100%;
	width: 100%;
	/* background-color: #3ac5c5; */
}

.nav-items-wrap {
	margin-top: 10vh;
	height: 50vh;
	/* background-color: #237e7e; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-right: 1px solid #343535;
}

.nav-cta {
	padding: 10px 15px;
	background-color: #95eeea;
	border-radius: 4px;
	cursor: pointer;
	position: relative;
}

.nav-cta > a {
	font-family: 'Barlow Condensed', 'sans-serif';
	font-weight: 700;
	color: #343535;
	text-decoration: none;
	font-size: 1.5em;
	text-align: center;

}

.nav-items {
	padding: 10px;

}

.nav-link {
	text-decoration: none;
	color: #343535;
	font-weight: 700;
	font-size: 1.5em;
	font-family: 'Barlow Condensed', 'sans-serif';
	/* text-align: center; */
}

.nav-aux-items-wrap {
	margin-top: 10vh;
	height: 50vh;
	/* background-color: #0a5180; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-left: 1px solid #343535;
}

.newsletter {
	padding: 10px;
	width: 75%;
}

.newsletter-text {
	font-family: 'Barlow Condensed', 'sans-serif';
	font-weight: 700;
	font-size: 1.5em;
}

.newsletter-form input{

	border: none;
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	background-color: #d14141;
	font-family: 'Barlow Condensed', 'sans-serif';
	color: #ecf3f3;
	font-weight: 100;
	font-size: 1.5em;

}

.newsletter-form button {
	border: none;
	border-radius: 6px;
	width: 120px;
	padding: 8px;
	background-color: #343535;
	font-family: 'Barlow Condensed', 'sans-serif';
	color: #ecf3f3;
	font-weight: 100;
	font-size: 1.5em;
}


.site-header {
	height: 11.313131vh;
	background-color: #ecf3f3;
	position: fixed;
	width: calc(100% - 40px);
	margin: 0 auto;
	z-index: 20;
	/* opacity: 0.4; */
}

.header-wrap {
	height: 100%;
}

.header-content {
	height: 100%;
}

.header-content > div {
	height: 100%;
}

.logo-wrap {
	height: auto;
	/* background-color: #204e4e; */
	background-image: url('../img/logo_mowgli.png');
}

.logo-wrap > img {
	height: auto;
	width: 100%;
}

.menu-wrap {
	height: auto;
	padding: 10px 0;
	/* background-color: #c1e9e9; */
	cursor: pointer;
}

.burger-icon {
	height: auto;
}

.burger-top {
	width: 45px;
	height: 3px;
	background-color: #e06d2b;
	margin-bottom: 2px;
}

.burger-text {
	width: inherit;
	
}

.burger-text > span {
	font-family: 'Barlow Condensed', 'sans-serif';
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #3e4141;	
	position: relative;
	/*left: -100%;*/
}

.burger-text > span.menu-active {
	opacity: 1;
	top: 0;
	left: 0;
} 

.burger-bottom {
	width: 45px;
	height: 3px;
	background-color: #e06d2b;
	margin-top: 2px;
}

.site-content {
	min-height: 100vh;
	width: 100%;
	background-color: #343535;
	padding-top: 11.313131vh; 
}

.home-slide {
	height: calc(100vh - 11vh);
	width: 100%;
	padding: 0;
}

.home-intro {
	background-color: #ffffff;
}

.intro-row {
	height: auto;
	width: 100%;
	margin: 0;
	/* background-color: #411231; */
}

.intro-video-wrap {
	margin: 0;
	padding: 0;
	height: 72.121212vh;
	background-color: #7a7c7c;
}

.video-content {

}

.intro-spacer {
	margin-top: 20px;
	height: 14.5454vh;
	width: 100%;
	display: flex;
}

.scroll-icon {
	background-color: #b0e2ac;
	width: 39.5833vw;
	height: 100%;
	padding: 0;
	display: inline;
	margin-right: 20px;
}

.spacer {
	padding: 0;
	width: 57.2916vw;
	height: 100%;
	background-color: #58b657;
	display: inline;
}

.home-dest {
	/* background-color: #411231; */
	position: relative;
}

.home-dest-image-main {
	height: 72.121212vh;
	width: 38.7vw;
	background-color: #411231;
}

.home-tours {
	background-color: #f14c4c;
}

.home-blog {
	background-color: #3b9687;
}

.home-contact {
	background-color: #203f7e;
}

