body {
	padding: 0 20px;
	overflow: hidden;
}
/* override bootstrap gutter */
.no-gutters {
	margin-right: 0;
	margin-left: 0;
}

.no-gutters > .col, 
.no-gutters > [class*="col-"] {
	padding-right: 0;
	padding-left: 0;
}


/* main styles */
.site-header {
	height: 11.3131vh;
	background-color: #ecf3f3;
}

.header-wrap {
	height: 100%;
}

.header-content {
	height: 100%;
}

.header-content > div {
	height: 100%;
}

.logo-wrap {
	height: auto;
	/* background-color: #204e4e; */
	background-image: url('../img/logo_mowgli.png');
}

.logo-wrap > img {
	height: auto;
	width: 100%;
}

.menu-wrap {
	height: 100%;
	/* background-color: #c1e9e9; */
}

.burger-icon {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.burger-top {
	width: 55px;
	height: 3px;
	background-color: #e06d2b;
	margin-bottom: 2px;
}

.burger-text {
	font-family: 'Helvetica', 'sans-serif';
	font-weight: lighter;
	letter-spacing: 1px;
	text-transform: uppercase;

}

.burger-bottom {
	width: 55px;
	height: 3px;
	background-color: #e06d2b;
	margin-top: 2px;
}