*,
*:before,
*:after {
	box-sizing: border-box;

}

html, body {
	height: 100vh;
	width: 100vw;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
	font-weight: 800;
	font-size: 24px;
	font-family: 'Helvetica', 'sans-serif';
	text-transform: uppercase;
}

.site-header {
	height: 12vh;
	width: 100vw;
	/* background-color: #14449c; */
	
}

.header-wrapper {
	width: 960px;
	height: 100%;
	/* background-color: #4e74f8; */
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo-wrapper {
	height: 50px;
	width: 140px;
}

.logo-wrapper img {
	height: 100%;
	width: 100%;
}

.menu-wrapper {
	height: 30px;
	width: 80px;
	background-color: #eaf099;
}

.content-wrapper {
	min-height: 100vh;
	position: relative;

}

.home-sections {
	height: 88vh;
	width: 100vw;
	position: absolute;
	z-index: 10;
}

.home-intro {
	background-color: #3a3a3a;
}

.home-dest {
	background-color: #b84e4e;
}

.home-tours {
	background-color: #42b6b6;
}

.home-blog {
	background-color: #292081;
}

.home-contact {
	background-color: #549259;
}

.home-active {
	top: 0;
	left: 0;
	z-index: 100;
}






